Repository yardinternet/skeleton-package, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, dependencies, tests

(docs): improve readme
  README.md
Labels: root, documentation

(feat): markdown linter
  .github/workflows/markdown-linting.yml
  .markdownlint.yaml
Labels: root

(test): md mistake
  .github/workflows/markdown-linting.yml
  README.md
Labels: root, documentation

introduce another error
  README.md
Labels: root, documentation

(feat): group dependabot pull requests
  .github/dependabot.yml
Labels: none

(fix): npm lockfile changes workflow
  .github/workflows/npm-lock-diff.yml
Labels: none

(feat): inform phpstan about methods on facade
  phpstan.neon.dist
  src/Facades/Example.php
Labels: root

(feat): markdown lint action
  .github/workflows/markdown-linting.yml
  .markdownlint.yml
Labels: root

(feat): no markdown for LICENCE
  LICENSE
Labels: root

(feat): markdown lint action
  .github/workflows/markdown-linting.yml
  .markdownlint.yml
Labels: root

(feat): no markdown for LICENCE
  LICENSE
Labels: root

(fix): fix renaming files in configure.php
  configure.php
Labels: root

(auto): apply php-cs-fixer changes
  tests/ExampleTest.php
  tests/TestCase.php
  tests/bootstrap.php
Labels: tests

(auto): apply php-cs-fixer changes
  tests/ExampleTest.php
  tests/TestCase.php
  tests/bootstrap.php
Labels: tests

(fix): fix renaming files in configure.php
  configure.php
Labels: root

(feat) dependabot automerge
  .github/dependabot.yml
  .github/workflows/pull-request.yml
Labels: none

(chore): update license
  LICENSE
Labels: root

(chore): update composer, php version, add .idea to gitignore
  .gitignore
  composer.json
  composer.lock
Labels: root, dependencies

(chore): update composer, php version, add .idea to gitignore
  .gitignore
  composer.json
  composer.lock
Labels: root, dependencies

(chore): moved phpstan to repo, removed labeler
  .github/workflows/labeler.yml
  .github/workflows/phpstan.yml
Labels: none

(chore): linked most to workflow repo
  .github/workflows/composer-lock-diff.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/format-php.yml
  .github/workflows/markdown-linting.yml
  .github/workflows/npm-lock-diff.yml
  .github/workflows/phpstan.yml
Labels: none

(chore): add new editor conf from brave, pull #38
  .editorconfig
Labels: root

(chore): php version
  .github/workflows/run-tests.yml
Labels: none

(fix): syntax
  .github/workflows/run-tests.yml
Labels: none

(chore): remove version from composer.json
  composer.json
Labels: root

(fix): disable wp_mock strict mode
  tests/bootstrap.php
Labels: tests

(chore): phpstan level 8
  phpstan.neon.dist
Labels: root

(chore): remove version from composer.json
  composer.json
Labels: root

(fix): disable wp_mock strict mode
  tests/bootstrap.php
Labels: tests

(chore): phpstan level 8
  phpstan.neon.dist
Labels: root

(chore): moved phpstan to repo, removed labeler
  .github/workflows/labeler.yml
  .github/workflows/phpstan.yml
Labels: none

(chore): linked most to workflow repo
  .github/workflows/composer-lock-diff.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/format-php.yml
  .github/workflows/markdown-linting.yml
  .github/workflows/npm-lock-diff.yml
  .github/workflows/phpstan.yml
Labels: none

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
    - any-glob-to-any-file: '*'

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: ['^feature', 'feature', '^feat']

# Add 'fix' label to any PR where the head branch name starts with `fix` or has a `fix` section in the name
bug:
  - head-branch: ['fix', '^fix']

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'

# Add 'dependencies' label to any composer.lock or package-lock.json changes
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['composer.lock', 'package-lock.json']

# Add 'tests' label to any changes to the tests directory
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'
