Repository yardinternet/skeleton-package, pull requests merged in 2024-06, with the labels that each got.

#20 (feat) set permissions for dependabot
  .github/workflows/composer-lock-diff.yml
  .github/workflows/run-tests.yml
Labels: feature, release

#22 Develop
  .github/labeler.yml
  composer.lock
  tests/ExampleTest.php
Labels: root, release, dependencies, tests

#23 (fix): format action
  .github/workflows/format-php.yml
Labels: bug, release
